@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
    background-color: #061528;
    font-family: 'Montserrat Alternates'
}
th,td{
    background-color: #061528 !important;
    color: aliceblue !important;
}

.img-fluid {
    max-width: 75% !important;
}